<h1>About Sample App</h1>
<p>This app has been created using Ruby on Rails. To check up the source code visit <a href="https://github.com/J-Rozas/sample_app" target="_blank">this GitHub repository</a>.</p>
