<!DOCTYPE html>
<html>
<head>
    <title>Help | Sample App</title>
</head>

<body>
<h1>Help section</h1>

<h2>Ruby</h2>
<p>Ruby is a general purpose programming language. Learn more about it in this
<a href="https://en.wikipedia.org/wiki/Ruby_(programming_language)" target="_blank">Wikipedia article</a>.
</p>

<h2>Rails</h2>
<p>Ruby on Rails, also referred to as simply "Rails", is a framework based on Ruby programming language
that makes it easy to develop web applications.
More info about Rails in this <a href="https://en.wikipedia.org/wiki/Ruby_on_Rails" target="_blank">Wikipedia article</a>.
</p>
</body>
</html>
