<!DOCTYPE html>
<html>
<head>
    <title>Home | Sample App</title>
</head>
<body>
<h1>Sample App</h1>
<p>This is a sample app using Ruby on Rails.
<%= link_to "Visit the help section", "/static_pages/help" %>.
</p>
</body>
</html>
