<footer class="footer">
  <small>
    Sample App created by <a href="https://github.com/J-Rozas">J-Rozas</a>.
  </small>
  <nav>
    <ul>  
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://github.com/J-Rozas" target="_blank" >My GitHub</a></li>
    </ul>
  </nav>
</footer>
